.contenedorImg{
    margin: auto;
    width: 40%;
    height: 40%;
}

.parrafoCapacita img{
    width: 100%;
}

.linea{
    border-top: 5px solid hsl(119, 100%, 38%);
    margin-bottom: 40px;
}

.parrafoCapacita p{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.parrafoCapacita li{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}