.parrafoCertificado p, b{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.parrafoCertificado a{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
}

.contenedorImg{
    text-align: center;
}

.contenedorImg img{
    height: auto;
    width: 300px;
}
