.parrafoVerde2 p {
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.contenedor-imagenConcep{
    display:flexbox;
}

.contenedor-imagenConcep img, figcaption{
    width: 500px;
    height: auto;
}



