
.linea{
    border-top: 5px solid hsl(119, 100%, 38%);
    margin-bottom: 40px;
}

.parrafoConsejos p, b{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.parrafoConsejos li{
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;  
    margin-top: auto;
}

.parrafoConsejos ul{
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;  
    margin-top: auto;
    margin: 20px 0; 
    padding: 10px; 
    position: relative;
    left: auto;
}

