.parrafo3r p, b{
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.img-Pie{
  display: grid;
  justify-content: center;
}

.img-Pie img{
    height: auto;
}


.img-Pie figcaption{
    font-family: sans-serif;
    font-size: 12px;
    color: #565656;
}

.img-Pie2{
    display: flex;
    justify-content: center;
}

.img-Pie2 figcaption{
    font-family: sans-serif;
    font-size: 12px;
    color: #565656;
}

.img-Pie2 .imgr35{
    width: 500px;
    height: 500px;
}

.contenedor-imgParrafos .reciclar1{
    display: flex;
}

.contenedor-imgParrafos .r33{
    display: flex;
}
.contenedor-imgParrafos img{
    width: auto;
    height: auto;
}










