 p, b{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.text1{
 text-align: center;
 
}

.text2{
    text-align: center;
    
   }
.text3{
    text-align: center;
    
   }
