.parrafos{
    padding: auto;
}
b, p {
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.contenedor1{
    display: flex;
    padding: auto;
}


.text1 b{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656; 
}

.text2 b{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656; 
}



.contenedor1 img{
    width: 200px;
}
.text1{
    padding-right: 25px;
}

.contenedor2{
    display: flex;
    padding: auto;
}

.contenedor2 img{
    width: 200px;
}
.text2{
    padding-left: 25px;
}

.contenedor3{
    display: flex;
    padding: auto;
}

.contenedor3 img{
    width: 150px;
}
.text3{
    align-content: center;
    padding-left: 25px;
}

.contenedor4{
    display: flex;
    padding: auto;
}

.contenedor4 b{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.contenedor4 img{
    width: 150px;
}
.text4{
    align-content: center;
    padding-left: 25px;
}

.imgPie {
    margin: auto;
    width: 40%;
    height: 40%;
}
.imgPie figcaption, b{
    position: relative;
    text-align: justify;
    font-size: 12px;
    font-family: sans-serif;
    color: #565656;
}

.imgPie img{
    width: 100%;
}


