/* tablas*/
.tabla{
    z-index: 1;
    /* width: 540px;*/
     height: auto;
     padding: 20px 20px;
     font-size: 15px;
     line-height: 1.5;
     background: #fff;
     /*box-shadow: 1px 5px 25px rgba(0,0,0,0.55);*/
     border-radius: 5px;
     text-align: justify;
}




/*estilo para parrafo de comoreciclar*/
.capa{
    width: 100%;
    position: absolute;

}
.parrafo{
    z-index: 1;
   /* width: 540px;*/
    height: auto;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    /*box-shadow: 1px 5px 25px rgba(0,0,0,0.55);*/ /*este codigo quita la caja*/
    border-radius: 5px;
    text-align: justify;
    
}
.parrafo img{
    width: 50%;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}

.p .tabla {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.parrafo h1{
     color: rgb(0, 0, 0);
}

p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

li{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-shadow: 2px;
    font-family:Arial, Helvetica, sans-serif;
}


/*Para descargas*/

.descargas{
    z-index: 1;
    /* width: 540px;*/
     height: auto;
     padding: 20px 20px;
     font-size: 15px;
     line-height: 1.5;
     background: #ffffff60;
     /*box-shadow: 1px 5px 25px rgba(0,0,0,0.55);*/
     border-radius: 5px;
     text-align: justify;
}

.pp{
    text-align: left;
    color: black;
}
