.ListaResf{
    margin: auto;
}

.ListaResf ul, li{
    position: relative;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    color: #565656;
}

.ListaResf p{
    position: relative;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    color: #0c9430;
}