p, li { 
    font-size: 15px;
    text-align: left;
    color: black;
    font-family: arial, sans-serif;

}

h3{ 
    font-size: 20px;
    text-align: left;
    color: black;
    font-family: arial, sans-serif;
}

h4{
    font-size: 20px;
    color: black;
    font-family: arial, sans-serif;
}

.bienvenidos{
    text-align: center;
}

